<div>
	<p>Edit Book</p>
	<form>
		<div name = "id" ng-model="newBook._id">Book ID: {{selected[0]._id}}</div>
		<br />
		Title:
		<input type="text" name="title" ng-model="newBook.book" value= {{selected[0].book}} maxlength="100" />
		<br />
		Author:
		<input type="text" name="author" ng-model="newBook.author" value={{selected[0].author}} maxlength="100" />
		<br>
		ISBN#:
		<input type="text" name="isbn" ng-model="newBook.ISBN" value={{selected[0].ISBN}} maxlength="30" />
		<br>
		Summary:
		<input type="text" name="summary" ng-model="newBook.summary" value={{selected[0].summary}}
		maxlength="500" />
		<br>
		<input type="submit" ng-click="updateBook(newBook)" value="Update" />
		<strong><p>To update a book use the filter to find the book you wish to edit, and then click on the book's row to select it.</p></strong>
		<strong>Filter:</strong><input type="text" ng-model="filterOptions.filterText"/>
		<button id="clearFilter" ng-click="clearFilter()">Clear Filter</button><br><br>
	</form>

	<div class="gridStyle" ng-grid="gridOptions"></div>

	<button id="bookAdd" onclick="bookButtons('bookAdd')">Add Book</button>
	<button id="bookUpdate" onclick="bookButtons('bookUpdate')">Edit Book</button>
	<button id="bookDelete" onclick="bookButtons('bookDelete')">Delete Book</button>
	<button id="home" onclick="bookButtons('home')">Home</button>
</div>