<div class="maint">
	<p class="pageTitle">Add Book</p>
	<form id="addBookForm">
		<span>Title:</span><br>
		<textarea id="bookTitle" rows="2" type="text" ng-click="enableAdd()" ng-model="book.book" name="title" value="" maxlength="100"></textarea>
		<br />
		<span>Author:</span><br>
		<textarea rows="2" id="addAuthor" type="text" ng-model="book.author" name="author" value="" maxlength="100"></textarea>
		<br>
		<span>ISBN#:</span><br>
		<textarea rows="1" id="addISBN"type="text" ng-model="book.ISBN" name="isbn" value="" maxlength="30"></textarea>
		<br>
		<span>Summary:</span><br>
		<textarea rows="4" id="addSummary" type="text" ng-model="book.summary" name="summary" value=""
		maxlength="500"></textarea>
		<br>
		<input id="addBtn" type="submit" ng-disabled="disableAdd" ng-click="postBook(book)" value="Submit" />
	</form>
	<hr>
	<button class="bookAdd" onclick="bookButtons('bookAdd')">Add Book</button>
	<button class="bookUpdate" onclick="bookButtons('bookUpdate')">Edit Book</button>
	<button class="bookDelete" onclick="bookButtons('bookDelete')">Delete Book</button>
	<button class="home" onclick="bookButtons('home')">Home</button>
</div>