body { margin: 0;}
body > #mainDiv {
	display: flex;
	flex-flow: row wrap;
	min-width: 400px;
	background-color: #FAF0BE;
}
body > #mainDiv > header, nav, main, aside, footer {
	border-radius: 7px; 
	margin: 5px; 
	padding: 20px;
	background: url("../images/canvasbackground.jpg");
}
body > #mainDiv > header { 
	order: 1;
	height: 150px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	width: 100%;
	vertical-align: top;
}
body > #mainDiv > nav {
	order: 2; 
	flex: 0 1 10%; 
	min-width: 100px;
	text-align: center;
	color: white;
}
body > #mainDiv > nav > button {
	margin: 10px;
	height: 30px;
	width: 100px;
	background-color: #260058;
	color: white;
	border-radius: 30px;
	cursor: pointer;
}
body > #mainDiv > main {
	 order: 3; 
	 min-height: 150px; 
	 flex:1;
	 background: 0;
	 background-color: #FAF0BE;
	 font-family: "Comic Sans MS", cursive, sans-serif;
	 color: #1B014B;
}
body > #mainDiv > aside {
	order: 4; 
	width: 10%; 
	flex: 0 1 10%; 
	min-width: 350px; 
	min-height: 350px;
	display: flex;
	flex-direction: column;
}
@media screen and (max-width: 900px){
	body > #mainDiv > aside {
		display: none;
	}
}
@media screen and (min-width: 900px){
	body > #mainDiv > aside {
		display: flex;
	}
}
body > #mainDiv > footer {
	order: 5; 
	height: 100px; 
	flex: 0 1 100%;
}
.logo {
	max-width: 150px; 
	padding: 5px;
}
@media screen and (max-width: 560px){
	.logo {
		display: none;
	}
}
@media screen and (min-width: 560px){
	.logo {
		display: initial;
	}
}
.logotext {
	max-width: 400px;
	height: auto;
	width: auto; 
	padding: 5px; 
	margin: 0;
}
.wheel {
	max-width: 150px; 
	padding: 5px;
}
@media screen and (max-width: 560px){
	.wheel {
		display: none;
	}
}
@media screen and (min-width: 560px){
	.wheel {
		display: initial;
	}
}
.spinners {
	max-width: 250px; 
	padding: 5px;
}
@media screen and (max-width: 900px){
	.spinners {
		display: none;
	}
}
@media screen and (min-width: 900px){
	.spinners {
		display: initial;
	}
}
.gridStyle {
    border: 1px solid #991414;
    width: 100%; 
    height: 400px;
    color: #991414;
    font-size: 12px;
}
.spacer {
	flex-grow: 1;
}
.bookInfo {
	font-size: 18px;
	margin: 10px;
}
.bookData {
	font-size: 20px;
	background-color: white;
	border: 1px solid black;
	margin: 3px;
	padding: 5px;
}
.btnLink {
	color: white;
	text-decoration: none;
}
#slide {
	width: 350px;
	height: 350px;
}
#caption {
	font-family: Arial;
	font-size: 20px;
	color: #991414;
	text-align: center;
}
#bold {
	font-weight: bold;
}
#underline {
	text-decoration: underline;
}
#homeLocation {
	color: red;
	font-weight: bold;
	text-align: center;
	padding: 25px;
}
#tandtImg {
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding: 10px;
}
#friendly {
	font-weight: bold;
	text-align: center;
	font-size: 125%;
}
#location {
	border: 10px solid #991414;
}
#officers {
	text-align: center;
}
#libHeader {
	text-align: center;
}
#rikiPics {
	width: auto;
	height: 300px;
}

#bottomAside {
	width: 300px;
}
#clearFilter {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
	background-color: #1B014B;
	border-radius: 30px;
	cursor: pointer;
}
#book {
	position: relative;
	top: 0;
	left: 0;
	border: 1px solid #991414;
}
#bookDetailsTitle {
	text-align: center;
	font-size: 30px;
	margin: 0;
}
#bookDetails {
	margin: 5px;
}

#closeDetails {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
	background-color: #1B014B;
	border-radius: 30px;
	cursor: pointer;
	margin: 10px;
	padding: 5px;
}
#tandtBigImg {
	width: 100%;
	height: 100%;
	resize: both;
}
#ttText {
	font-family: Arial, cursive, sans-serif;
	text-align: center;
}
#ttAddress {
	color: #CC0000;
}
#ttHours {
	color: #3300FF;
	font-family: "Comic Sans", cursive, sans-serif;
	text-align: center;
}
#hoursTitle {
	font-size: 30px;
}
#ttQuilt {
	resize: both;
}